html,
body {
  font-family: "Microsoft YaHei";
  -webkit-user-select: none;
  user-select: none;
}
@keyframes tick-tock {
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes tick-tock {
  to {
    transform: rotate(360deg) translate3d(0, 0, 0);
  }
}
main {
  display: none;
  position: relative;
  width: 7.5rem;
  height: 12.06rem;
  overflow: hidden;
}
main section:nth-child(1) {
  position: absolute;
  overflow: hidden;
  width: 7.5rem;
  height: 333.5rem;
}
main section:nth-child(1) div {
  position: relative;
  width: 7.5rem;
  height: 13.34rem;
}
main section:nth-child(1) div span {
  position: absolute;
}
main section:nth-child(1) div:nth-child(1) {
  height: 12.06rem;
  background: url("../images/bg_01.jpg") center no-repeat;
  background-size: cover;
}
main section:nth-child(1) div:nth-child(1) span {
  display: none;
  top: 0;
  width: 7.5rem;
  height: 12.06rem;
  background: url("../images/light.png") center no-repeat;
  background-size: cover;
}
main section:nth-child(1) div:nth-child(1) p {
  position: absolute;
  top: 2.68rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 1.04rem;
  writing-mode: vertical-rl;
  font-size: .32rem;
  line-height: .52rem;
  text-indent: -2em;
  color: #594940;
}
main section:nth-child(1) div:nth-child(1) p:nth-child(2) {
  display: none;
}
main section:nth-child(1) div:nth-child(2) {
  height: 12.06rem;
  background: url("../images/bg_02.jpg") center no-repeat;
  background-size: cover;
}
main section:nth-child(1) div:nth-child(2) span {
  display: none;
  top: 4.91rem;
  left: 1.86rem;
  width: 1.71rem;
  height: 2.07rem;
  background: url("../images/fadeIn_01.png") center no-repeat;
  background-size: cover;
}
main section:nth-child(1) div:nth-child(3) {
  height: 12.06rem;
  background: url("../images/bg_03.jpg") center no-repeat;
  background-size: cover;
}
main section:nth-child(1) div:nth-child(4) {
  height: 12.06rem;
  background: url("../images/bg_04.jpg") center no-repeat;
  background-size: cover;
}
main section:nth-child(1) div:nth-child(5) {
  height: 12.06rem;
  background: url("../images/bg_05.jpg") center no-repeat;
  background-size: cover;
}
main section:nth-child(1) div:nth-child(6) {
  height: 12.06rem;
  background: url("../images/bg_06.jpg") center no-repeat;
  background-size: cover;
}
main section:nth-child(1) div:nth-child(7) {
  height: 7.68rem;
  background: url("../images/bg_07.jpg") center no-repeat;
  background-size: cover;
}
main section:nth-child(1) div:nth-child(8) {
  height: 13.38rem;
  background: url("../images/bg_08.jpg") center no-repeat;
  background-size: cover;
}
main section:nth-child(1) div:nth-child(9) {
  height: 13.3rem;
  background: url("../images/bg_09.jpg") center no-repeat;
  background-size: cover;
}
main section:nth-child(1) div:nth-child(10) {
  background: url("../images/bg_10.jpg") center no-repeat;
  background-size: cover;
}
main section:nth-child(1) div:nth-child(11) {
  background: url("../images/bg_11.jpg") center no-repeat;
  background-size: cover;
}
main section:nth-child(1) div:nth-child(12) {
  background: url("../images/bg_12.jpg") center no-repeat;
  background-size: cover;
}
main section:nth-child(1) div:nth-child(13) {
  background: url("../images/bg_13.jpg") center no-repeat;
  background-size: cover;
}
main section:nth-child(1) div:nth-child(14) {
  background: url("../images/bg_14.jpg") center no-repeat;
  background-size: cover;
}
main section:nth-child(1) div:nth-child(15) {
  background: url("../images/bg_15.jpg") center no-repeat;
  background-size: cover;
}
main section:nth-child(1) div:nth-child(16) {
  background: url("../images/bg_16.jpg") center no-repeat;
  background-size: cover;
}
main section:nth-child(1) div:nth-child(17) {
  background: url("../images/bg_17.jpg") center no-repeat;
  background-size: cover;
}
main section:nth-child(1) div:nth-child(18) {
  background: url("../images/bg_18.jpg") center no-repeat;
  background-size: cover;
}
main section:nth-child(1) div:nth-child(19) {
  background: url("../images/bg_19.jpg") center no-repeat;
  background-size: cover;
}
main section:nth-child(1) div:nth-child(20) {
  background: url("../images/bg_20.jpg") center no-repeat;
  background-size: cover;
}
main section:nth-child(1) div:nth-child(21) {
  background: url("../images/bg_21.jpg") center no-repeat;
  background-size: cover;
}
main section:nth-child(1) div:nth-child(22) {
  background: url("../images/bg_22.jpg") center no-repeat;
  background-size: cover;
}
main section:nth-child(1) div:nth-child(23) {
  background: url("../images/bg_23.jpg") center no-repeat;
  background-size: cover;
}
main section:nth-child(1) div:nth-child(24) {
  background: url("../images/bg_24.jpg") center no-repeat;
  background-size: cover;
}
main section:nth-child(1) div:nth-child(25) {
  background: url("../images/bg_25.jpg") center no-repeat;
  background-size: cover;
}
main section:nth-child(1) div:nth-child(26) {
  height: 2.62rem;
  background: url("../images/bg_26.jpg") center no-repeat;
  background-size: cover;
}
main section:nth-child(2) div {
  position: fixed;
  left: 0;
  right: 0;
  bottom: .62rem;
  margin: auto;
  width: 1.6rem;
  height: 1.6rem;
  background: url("../images/clock.png") center no-repeat;
  background-size: cover;
}
main section:nth-child(2) div span {
  position: absolute;
}
main section:nth-child(2) div span:nth-child(1) {
  top: 0;
  bottom: 0;
  left: 50%;
  margin: auto;
  width: .6rem;
  height: .08rem;
  background: url("../images/clock_1.png") center no-repeat;
  background-size: cover;
}
main section:nth-child(2) div span:nth-child(1).act {
  -webkit-transform-origin: left;
  transform-origin: left;
  -webkit-animation: tick-tock 2s steps(60, end) infinite;
  animation: tick-tock 2s steps(60, end) infinite;
}
main section:nth-child(2) div span:nth-child(2) {
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  width: .08rem;
  height: .4rem;
  background: url("../images/clock_2.png") center no-repeat;
  background-size: cover;
}
main section:nth-child(2) div span:nth-child(2).act {
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation: tick-tock 22s steps(60, end) infinite;
  animation: tick-tock 22s steps(60, end) infinite;
}
